.difficulty-meter {
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
}

.difficulty-meter:last-child{
        border-top-right-radius: var(--radius-xs);
        border-bottom-right-radius: var(--radius-xs);
}
.difficulty-meter:first-child{
        border-top-left-radius: var(--radius-xs);
        border-bottom-left-radius: var(--radius-xs);
}

.decimal-part {
    font-weight: normal;
}