.section {
    position: relative;
}

.container {
    position: relative;
    background-color: #f3f4f6; /* bg-gray-50 */
    z-index: 10;
}

.containerSingle {
    width: calc(var(--arrow-size) * 4);
}

.containerDouble {
    width: calc(var(--arrow-size) * 8);
}

.doubleDivider {
    width: calc(var(--arrow-size) * 4);
    border-right: 1px dashed #4338ca; /* border-blue-500 */
    position: absolute;
    top: 0;
    pointer-events: none;
    height: 100%;
}

.bar {
    box-sizing: border-box;
}

.barMeasure {
    border-bottom: 2px solid #818cf8; /* border-indigo-400 */
}

.barBeat {
    border-bottom: 1px dashed #60a5fa; /* border-blue-500 */
}

.bar:nth-child(odd) {
    background-color: #eef2ff; /* bg-indigo-50 */
}

.bar:last-of-type {
    border-width: 0;
}

.bar:hover {
    background-color: #c7d2fe; /* sm:bg-indigo-300 */
}

.bar:target, .targeted {
    background-color: #a5b4fc; /* bg-indigo-400 */
}

.selfLink {
    display: none;
}

@media (min-width: 640px) {
    .selfLink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.selfLink svg {
    visibility: hidden;
    padding: 0 0.25rem; /* px-1 */
    background-color: #4f46e5; /* bg-indigo-500 */
    color: white;
    height: 1.5rem;
    width: 1.5rem;
    border-top-left-radius: 0.5rem; /* rounded-l-lg */
    border-bottom-left-radius: 0.5rem;
}

.bar:hover .selfLink svg,
.selfLink:hover svg {
    visibility: visible;
}

.freeze {
    position: absolute;
    pointer-events: none;
    overflow: hidden;
}

.bpmRange {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.bpmRangeBorder {
    border-top: 1px solid;
}

.bpmRangeEven {
    border-color: #60a5fa; /* border-blue-500 */
}

.bpmRangeOdd {
    border-color: var(--color-difficult);
}

.bpmLabel {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    pointer-events: none;
    left: -100px;
    width: 100px;
}

.bpmLabelText {
    font-size: 0.675rem;
    color: white;
    padding: 0.125rem 0.25rem; /* p-0.5 */
    border-top-left-radius: 0.5rem; /* rounded-l-lg */
    border-bottom-left-radius: 0.5rem;
}

.bpmLabelEven {
    background-color: #60a5fa; /* bg-blue-500 */
}

.bpmLabelOdd {
    background-color: var(--color-difficult);
}

.stopSign {
    font-size: 1.5rem; /* text-2xl */
    right: -1.75rem; /* -right-7 */
    color: #ef4444; /* text-red-600 */
    position: absolute;
}

@media print {
    .bpmLabelText {
        font-size: 0.45rem;
    }

    .stopSign {
        font-size: 1.125rem; /* text-lg */
        right: -1rem; /* -right-4 */
    }
}
