/* Set base font properties, allowing App.css to override them. */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Remove default margin. App.css will handle the rest. */
body {
  margin: 0;
}

/* Ensure the root element takes up the full width. */
#root {
  width: 100%;
}
