.song-grid.three-items {
    grid-template-columns: repeat(3, 1fr);
}

.song-grid.one-item {
    grid-template-columns: 1fr;
}



.vega-header-title {
    flex-basis: 66.66%;
    text-align: left;
    margin:0px;
   
}

.vega-header-selector {
    flex-basis: 33.33%;
}

.vega-footer {
    text-align: center;
    padding: 2rem 0;
}

.vega-button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.2s;
}

.vega-button:hover {
    background-color: var(--accent-color-light);
}

.results-section {
    margin: 2rem 0;
}

.results-header {
    text-align: center;
    margin-bottom: 1rem;
}

.results-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.results-category {
    flex: 1;
    min-width: 200px;
    background-color: var(--card-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

.results-category h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}

.results-category ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.results-category li {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--border-color);
}

.results-category li:last-child {
    border-bottom: none;
}

.results-video-link {
    color: var(--accent-color);
    margin-left: 0.5rem;
    text-decoration: none;
}


.mobile-record-buttons {
    display: none;
}

@media (max-width: 1024px) {
    .song-grid.three-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    main {
        padding-bottom: 5rem;
    }
    .song-grid.three-items {
        grid-template-columns: 1fr;
    }
    .vega-header-title {
        flex-basis: 100%;
        text-align: center;
    }
    .mobile-record-buttons {
        display: flex;
        gap: 1rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background-color: var(--background-color-transparent);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        z-index: 100;
    }
    .record-button {
        flex-grow: 1;
        background-color: var(--accent-color);
        color: var(--text-color);
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        text-decoration: none;
        font-weight: 700;
        transition: background-color 0.2s;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}